<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>我的第一個網頁</title>
    <style type="text/css">
        body{
        margin: 0px;
        padding: 0px;
    }
        .content{
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: bold;
	height: 300px;
	background-color: #00ffff;
	font-size: 40px;
    margin: 0px;
    }
    .main{
        text-align:center
    }
    </style>
</head>
<body>
    <div class="content">失敗頁面</div>
    <div class="main">
        {{message}}<br>
        <a href="\">
            <button>返回首頁</button>
        </a>
    </div>
</body>    
</html>